##########################################
### Configuration file
##########################################
config.ini

##########################################
### Data Folder
##########################################
/data/